<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/estilo.css">
    <title>Unes | Contato</title>
</head>
<body>
    <header class="head">
       
        <img src="/static/imagens/logo.png" alt="logo">
        <div>
            <a href="index">Home |</a>
            <a href="somos">Quem somos |</a>
            <a href="contatos">Contatos </a>
        </div>

    </header>

    <main class = "paragraph">
        <h1>Entre em contato</h1>
        <p>
            Contato Contato Contato Contato Contato Contato Contato Contato Contato Contato Contato 
        </p>
        <hr>
       
        <form action="/contatos", method="POST">
            <p>Seu email:<br>
            <input type="text" name="email" id="descricao" size="20" /></p> 
        
            <p>Assunto:<br>
            <input type="text" name="assunto" id="descricao" size="20" /></p> 

            <p>Descrição:<br>
            <textarea name="descricao" id="descricao" cols="30" rows="5"></textarea></p> 
        
            <input type="submit" value="Enviar"/>
        </form>
       
    
        <p>
            <h2 style="text-align:center;">Todos direitos reservados.</h2>
        </p>
    
        

    </main>
</body>
</html>