<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unes | Home</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <header class="head">
       
        <img src="/static/imagens/logo.png" alt="logo">
        <div>
            <a href="index">Home |</a>
            <a href="somos">Quem somos |</a>
            <a href="contatos">Contatos </a>
        </div>

    </header>
    
    <main class="paragraph">
    
    <img src="/static/imagens/capa.png" alt="logo" class="foto">

    <h1>Sobre a universidade</h1>

    <p Align="justify">
        As Fatecs são importantes instituições brasileiras de ensino superior, sendo pioneiras na graduação de
        tecnólogos [7]. Elas estão localizadas em diversas cidades paulistas, com cinco campi na capital e várias outras
        unidades na Grande São Paulo, interior e litoral [7].
        As 74 Faculdades de Tecnologia do Estado de São Paulo, sediadas em 68 municípios paulistas, oferecem cursos
        superiores de graduação em praticamente todas as áreas do conhecimento, devidamente reconhecidos pelo ministério
        da educação, estruturados e desenvolvidos para atender aos segmentos atuais e aos emergentes da atividade
        industrial e do setor de serviços, tendo em vista a constante evolução tecnológica. Estão atualmente
        matriculados nas Fatecs mais de 94 mil alunos[7]. Para a formação deste contingente, são investidos anualmente
        mais de dois bilhões de reais[9].
    </p>

    <p Align="justify">
        As Fatecs são importantes instituições brasileiras de ensino superior, sendo pioneiras na graduação de
        tecnólogos [7]. Elas estão localizadas em diversas cidades paulistas, com cinco campi na capital e várias outras
        unidades na Grande São Paulo, interior e litoral [7].
        As 74 Faculdades de Tecnologia do Estado de São Paulo, sediadas em 68 municípios paulistas, oferecem cursos
        superiores de graduação em praticamente todas as áreas do conhecimento, devidamente reconhecidos pelo ministério
        da educação, estruturados e desenvolvidos para atender aos segmentos atuais e aos emergentes da atividade
        industrial e do setor de serviços, tendo em vista a constante evolução tecnológica. Estão atualmente
        matriculados nas Fatecs mais de 94 mil alunos[7]. Para a formação deste contingente, são investidos anualmente
        mais de dois bilhões de reais[9].
    </p>
</main>
<p>
    <h2 style="text-align:center;">Todos direitos reservados.</h2>
</p>
</body>

</html>