<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/estilo.css">
    <title>Unes | Quem Somos</title>
</head>
<body>
    <header class="head">
       
        <img src="/static/imagens/logo.png" alt="logo">
        <div>
            <a href="index">Home |</a>
            <a href="somos">Quem somos |</a>
            <a href="contatos">Contatos </a>
        </div>

    </header>
   
    <main class="paragraph">
    
    <h1>Quem somos</h1>

    <p >
        De uma forma geral a formação do Tecnólogo, além de aspectos técnicos, envolve também, uma base de caráter social, ético, filosófico e ambiental que faz deste cidadão um profissional ciente de sua inserção e responsabilidades no meio social que integra.
        Esta bagagem técnica e sócio-ambiental adquirida implicará em um tecnólogo que realiza suas atribuições seguindo sempre normas de segurança, higiene e proteção ao meio-ambiente.De uma forma geral a formação do Tecnólogo, além de aspectos técnicos, envolve também, uma base de caráter social, ético, filosófico e ambiental que faz deste cidadão um profissional ciente de sua inserção e responsabilidades no meio social que integra.
        Esta bagagem técnica e sócio-ambiental adquirida implicará em um tecnólogo que realiza suas atribuições seguindo sempre normas de segurança, higiene e proteção ao meio-ambiente.
    </p>
    
    <h1>5 motivos para estudar</h1>

    <p class="espaço">
        1. Estude<br>
        2. Estude<br>
        3. Estude<br>
        4. Estude<br>
        5. Estude<br>

    </p>
    <hr>
    <h1>Objetivos</h1>

        <p >
          De uma forma geral a formação do Tecnólogo, além de aspectos técnicos, envolve também, uma base de caráter social, ético, filosófico e ambiental que faz deste cidadão um profissional ciente de sua inserção e responsabilidades no meio social que integra.
         Esta bagagem técnica e sócio-ambiental adquirida implicará em um tecnólogo que realiza suas atribuições seguindo sempre normas de segurança, higiene e proteção ao meio-ambiente.De uma forma geral a formação do Tecnólogo, além de aspectos técnicos, envolve também, uma base de caráter social, ético, filosófico e ambiental que faz deste cidadão um profissional ciente de sua inserção e responsabilidades no meio social que integra.
            Esta bagagem técnica e sócio-ambiental adquirida implicará em um tecnólogo que realiza suas atribuições     seguindo sempre normas de segurança, higiene e proteção ao meio-ambiente.
        </p>
   
    <p>
        <h2 style="text-align:center;">Todos direitos reservados.</h2>
    </p>

</main>
</body>
</html>